.select(id="select" class="select")
    button.title(type="button") Выберите...
    ul
        li(data-value="value1") Элемент селекта 1
        li(data-value="value2") Элемент селекта 2
        li(data-value="value3") Элемент селекта 3
        li(data-value="value4") Элемент селекта 4