.input__wrapper
    input.input(type="text" id="name" required)
    label.input__label(for="name") Имя

.input__wrapper
    input.input(type="text" id="surname" required)
    label.input__label(for="surname") Фамилия

.input__wrapper
    input.input(type="text" id="email" required)
    label.input__label(for="email") name@domain.com