doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel="stylesheet" href="styles/main.css")
    title Задание 2

  body
    block pagecontent
    script(src="js/main.js")