nav.nav
    .nav__item
        a.nav__link(href="index.html")
            span.nav__link-text Главная
    .nav__item 
        a.nav__link(href="form.html")
            span.nav__link-text Форма
    .nav__item
        a.nav__link(href="accordeon.html")
            span.nav__link-text Аккордеон
    .nav__item
        a.nav__link(href="table.html")
            span.nav__link-text Таблица