.accordeon.acc
    button.acc__title Accordeon Item #1
    .acc__body Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, doloremque, dignissimos numquam ratione nulla odio tempore repudiandae incidunt natus eaque in labore, dolore amet excepturi voluptas voluptate provident harum quas?
    button.acc__title Accordeon Item #2
    .acc__body Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, doloremque, dignissimos numquam ratione nulla odio tempore repudiandae incidunt natus eaque in labore, dolore amet excepturi voluptas voluptate provident harum quas?
    button.acc__title Accordeon Item #3
    .acc__body Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, doloremque, dignissimos numquam ratione nulla odio tempore repudiandae incidunt natus eaque in labore, dolore amet excepturi voluptas voluptate provident harum quas?
    button.acc__title Accordeon Item #4
    .acc__body Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, doloremque, dignissimos numquam ratione nulla odio tempore repudiandae incidunt natus eaque in labore, dolore amet excepturi voluptas voluptate provident harum quas?
