html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .content {
        margin-top: 30px;
    }
}